layout {
    focus-ring {
        active-color "#56635f"
        inactive-color "#4f585e"
        urgent-color "#e67e80"
    }
    border {
        active-color "#56635f"
        inactive-color "#4f585e"
        urgent-color "#e67e80"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#56635f"
        inactive-color "#4f585e"
        urgent-color "#e67e80"
    }
    insert-hint {
        color "#56635f80"
    }
}
