:root {
    --surface_container: #161615;
    --surface_container_highest: #222120;
    --surface: #13140d;
    --on_surface: #f2eadd;
    --on_surface_variant: #868868;
    --primary: #727459;
    --outline: #494a39;
}
