layout {
    focus-ring {
        active-color "#383f52"
        inactive-color "#2d3342"
        urgent-color "#f28779"
    }
    border {
        active-color "#383f52"
        inactive-color "#2d3342"
        urgent-color "#f28779"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#383f52"
        inactive-color "#2d3342"
        urgent-color "#f28779"
    }
    insert-hint {
        color "#383f5280"
    }
}
