layout {
    focus-ring {
        active-color "#afb8c1"
        inactive-color "#d0d7de"
        urgent-color "#cf222e"
    }
    border {
        active-color "#afb8c1"
        inactive-color "#d0d7de"
        urgent-color "#cf222e"
    }
    shadow {
        color "#00000040"
    }
    tab-indicator {
        active-color "#afb8c1"
        inactive-color "#d0d7de"
        urgent-color "#cf222e"
    }
    insert-hint {
        color "#afb8c180"
    }
}
