layout {
    focus-ring {
        active-color "#cecacd"
        inactive-color "#dfdad9"
        urgent-color "#b4637a"
    }
    border {
        active-color "#cecacd"
        inactive-color "#dfdad9"
        urgent-color "#b4637a"
    }
    shadow {
        color "#00000040"
    }
    tab-indicator {
        active-color "#cecacd"
        inactive-color "#dfdad9"
        urgent-color "#b4637a"
    }
    insert-hint {
        color "#cecacd80"
    }
}
