layout {
    focus-ring {
        active-color "#524f67"
        inactive-color "#403d52"
        urgent-color "#eb6f92"
    }
    border {
        active-color "#524f67"
        inactive-color "#403d52"
        urgent-color "#eb6f92"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#524f67"
        inactive-color "#403d52"
        urgent-color "#eb6f92"
    }
    insert-hint {
        color "#524f6780"
    }
}
