layout {
    focus-ring {
        active-color "#a8aecb"
        inactive-color "#b4bcd0"
        urgent-color "#f52a65"
    }
    border {
        active-color "#a8aecb"
        inactive-color "#b4bcd0"
        urgent-color "#f52a65"
    }
    shadow {
        color "#00000040"
    }
    tab-indicator {
        active-color "#a8aecb"
        inactive-color "#b4bcd0"
        urgent-color "#f52a65"
    }
    insert-hint {
        color "#a8aecb80"
    }
}
