layout {
    focus-ring {
        active-color "#3b4261"
        inactive-color "#363b54"
        urgent-color "#f7768e"
    }
    border {
        active-color "#3b4261"
        inactive-color "#363b54"
        urgent-color "#f7768e"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#3b4261"
        inactive-color "#363b54"
        urgent-color "#f7768e"
    }
    insert-hint {
        color "#3b426180"
    }
}
