layout {
    focus-ring {
        active-color "#424242"
        inactive-color "#353535"
        urgent-color "#f07178"
    }
    border {
        active-color "#424242"
        inactive-color "#353535"
        urgent-color "#f07178"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#424242"
        inactive-color "#353535"
        urgent-color "#f07178"
    }
    insert-hint {
        color "#42424280"
    }
}
