layout {
    focus-ring {
        active-color "#c8c093"
        inactive-color "#d5cea3"
        urgent-color "#d85060"
    }
    border {
        active-color "#c8c093"
        inactive-color "#d5cea3"
        urgent-color "#d85060"
    }
    shadow {
        color "#00000040"
    }
    tab-indicator {
        active-color "#c8c093"
        inactive-color "#d5cea3"
        urgent-color "#d85060"
    }
    insert-hint {
        color "#c8c09380"
    }
}
