layout {
    focus-ring {
        active-color "#54546d"
        inactive-color "#363646"
        urgent-color "#e82424"
    }
    border {
        active-color "#54546d"
        inactive-color "#363646"
        urgent-color "#e82424"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#54546d"
        inactive-color "#363646"
        urgent-color "#e82424"
    }
    insert-hint {
        color "#54546d80"
    }
}
