layout {
    focus-ring {
        active-color "#555555"
        inactive-color "#3a3a3a"
        urgent-color "#c0c0c0"
    }
    border {
        active-color "#555555"
        inactive-color "#3a3a3a"
        urgent-color "#c0c0c0"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#555555"
        inactive-color "#3a3a3a"
        urgent-color "#c0c0c0"
    }
    insert-hint {
        color "#55555580"
    }
}
