window {
    background-color: alpha(@window_bg_color, 0.85);
}

window.nautilus-window .sidebar-pane {
    background-color: transparent;
}

window.nautilus-window .content-pane {
    background-color: transparent;
}

window.nautilus-window {
    background-color: alpha(@window_bg_color, 0.85);
}