layout {
    focus-ring {
        active-color "#6272a4"
        inactive-color "#44475a"
        urgent-color "#ff5555"
    }
    border {
        active-color "#6272a4"
        inactive-color "#44475a"
        urgent-color "#ff5555"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#6272a4"
        inactive-color "#44475a"
        urgent-color "#ff5555"
    }
    insert-hint {
        color "#6272a480"
    }
}
