layout {
    focus-ring {
        active-color "#504945"
        inactive-color "#3c3836"
        urgent-color "#fb4934"
    }
    border {
        active-color "#504945"
        inactive-color "#3c3836"
        urgent-color "#fb4934"
    }
    shadow {
        color "#00000070"
    }
    tab-indicator {
        active-color "#504945"
        inactive-color "#3c3836"
        urgent-color "#fb4934"
    }
    insert-hint {
        color "#50494580"
    }
}
